:root {
  --pri-dark: #183e57;
  --pri-neutral: #22577a;
  --pri-light: #38a3a5;
  --pri-lighter: #dbf4f6;
  --sec-dark: #57cc99;
  --sec-neutral: #80ed99;
  --sec-light: #c7f9cc;
  --sec-lighter: #e0f7e2;

  --w-pri-dark: #3e10b3;
  --w-pri-light: #5400fd;
  --w-sec-dark: #8c1278;
  --w-sec-light: #da3f3f;
  --w-accent: #d5cc17;
  --w-background: #040115;
  --w-text: #cddbec;

  --cell-size: min(8rem, 20vw);

  --font-main: "Zilla Slab", serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Zilla Slab";
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  background-color: var(--w-background);
  color: var(--w-text);

  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  width: 100%;
  height: 10rem;
  background-color: var(--w-sec-dark);
  margin-bottom: 8rem;
  text-align: center;
  font-family: var(--font-w-main);

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem 0;
}

h1 {
  font-size: 4rem;
}

footer {
  width: 100%;
  height: 18rem;
  background-color: var(--w-sec-dark);
  margin-top: 8rem;
  text-align: center;
  font-family: var(--font-w-main);
  padding-bottom: 6rem;
}

p {
  font-size: 1rem;
}

#logo {
  width: 20rem;
  padding: 1vw;
}

#github {
  display: flex;
  justify-content: center;
  align-items: center;
}

#github-logo {
  width: 2.5rem;
}

a {
  display: inline;
  font-family: var(--font-w-main);
  font-weight: 400;
  font-size: min(8vw, 2rem);
  text-align: center;
  color: var(--w-text);
  padding: 0 0.5rem;
}

a:hover {
  color: var(--w-accent);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  text-align: center;
  font-size: 2rem;
}

h3 {
  text-align: center;
  font-size: 1.5rem;
}

button {
  font-size: 1.2rem;
  text-align: center;
  height: 2.5rem;
  cursor: pointer;
}

select {
  font-size: 1.2rem;
  height: 2.5rem;
  cursor: pointer;
}

#start-btn {
  font-size: 2rem;
  font-weight: 800;
  height: 3rem;
  margin: auto;
}

#settings-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0.5rem;
}

#settings-container > * {
  display: flex;
  justify-content: center;
  padding: 0 1em;
}

#cell-container {
  display: grid;
  width: min(24rem, 60vw);
  margin: 2rem auto;
  grid-template-columns: repeat(3, auto);
  gap: 0rem;
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border: 0.3rem solid;
  font-size: min(4rem, 8vw);
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cell:nth-child(3n + 1) {
  border-left: none;
}

.cell:nth-child(3n + 3) {
  border-right: none;
}

.cell:nth-child(-n + 3) {
  border-top: none;
}

.cell:nth-child(n + 7) {
  border-bottom: none;
}

.filled {
  cursor: not-allowed;
}
